






























































































































































































@media screen and (max-width:480px){

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
       /* Ensure the body and HTML fill the entire viewport */
    }

    body{
        
        /* margin: 0;
        padding: 0; */
      
        /* width: 100%; */
        display: flex;
        flex-direction: row;
     
        justify-content: flex-end;
        background-image: url(./starter-code/assets/crew/background-crew-mobile.jpg);
        /* background-repeat: no-repeat;
        background-size: cover;
       */

       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 100%;
       margin: 0;
       padding: 0;

        font-family: Montserrat;
    }

    .navbar{
        width: 60%;
       height: 100vh;
        background-color: black;
       /* opacity: 0.5; */
        /* filter: blur(1px);   */
        z-index: 99;
        display: none;
    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        /* display: none; */
        
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       height: 50%;
      
        
    }

    .list a{
        text-decoration: none;
        color: white;
    }

    .list li{
        list-style: none;
    }
   
    #Humbger{
      width: 90%;
      height: 50px;
      /* background-color: black; */
      position: absolute;
     right: 23px; 
     top: 15px;  
     /* border: 1px solid white;      */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
    #Hum{
      /* border: 1px solid orange; */
         width: 48px;
      height: 48px; 
      z-index: 120;
    }

    .exitwhite-bars path {
        fill: white;
    }

    #Logo{
        /* width: 80%;
        height: 100%; */
        /* border: 1px solid red; */
        cursor: pointer;
    }


    .crew-name-section{
        width: 100%;
        height: fit-content;
        border: 1px solid red;
        position: absolute;
        top: 100px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}









































