




























































































































































































@media screen and (max-width:480px) {
    body{
        margin: 0;
        padding: 0;
      
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-image: url(./starter-code/assets/home/background-home-mobile.jpg);
       
    }

    .navbar{
        width: 60%;
       height: 100vh;
        background-color: black;
       /* opacity: 0.5; */
        /* filter: blur(1px);   */
    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        /* display: none; */
        
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       height: 50%;
      
        
    }

    .list a{
        text-decoration: none;
        color: white;
    }

    .list li{
        list-style: none;
    }
   
    #Humbger{
      width: 20%;
      height: 50px;
      /* background-color: black; */
      position: absolute;
     right: 23px; 
     top: 15px;       
    
    }
    #Hum{
        /* background-color: white; */
        width: 60px;
        height: 40px;
    }

    .exitwhite-bars path {
        fill: white;
    }
    
}

























